.ng-invalid.ng-dirty {
    border-color: #FA787E;
}

.ng-invalid.ng-dirty input {
	border-color: #FA787E;
}

.ng-valid.ng-dirty {
    border-color: #78FA89;
}

.ng-valid.ng-dirty input {
	border-color: #78FA89;
}

.success-message {
	-webkit-transition: all .25s ease-in;
	   -moz-transition: all .25s ease-in;
	     -o-transition: all .25s ease-in;
	        transition: all .25s ease-in;
	color: #78FA89;
}

.error-message {
	-webkit-transition: all .25s ease-in;
	   -moz-transition: all .25s ease-in;
	     -o-transition: all .25s ease-in;
	        transition: all .25s ease-in;
	color: #FA787E;
}