<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alfamotors - test</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="well">
                    <my-form>
                        <my-errors error="common" success="success"></my-errors>
                        <my-input name="username" type="username" label="Имя" ng-model="$parent.$parent.user[name]" minlength="6" ng-minlength="6" required></my-input>
                        <my-errors error="username"></my-errors>
                        <my-input name="password" type="password" label="Пароль" ng-model="$parent.$parent.user[name]" ng-pattern="$parent.$parent.patternPass" required></my-input>
                        <my-errors error="password"></my-errors>
                        <my-input name="phone" type="phone" label="Телефон" ng-model="$parent.$parent.user[name]" ui-mask="+7 (999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_" model-view-value></my-input>
                        <my-errors error="phone"></my-errors>
                        <my-input name="email" type="email" label="Email" ng-model="$parent.$parent.user[name]"></my-input>
                        <my-errors error="email"></my-errors>
                        <button class="btn btn-success btn-block">Отправить</button>
                    </my-form>
                </div>
            </div>
        </div>
    </div>
    <script>
        var promise = new Promise((resolve, reject) => {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', 'https://api.hh.ru/vacancies/17849512/similar_vacancies', true);
            xhr.send();
            resolve(xhr);
        });

        promise
            .then(result => {
                var data = result.responseText;
                console.log(data);
            },

            error => {
                console.log(error);
            }
        );
        
        var temlate = '<div></div>';
    
    </script>
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-ui-mask/dist/mask.js"></script>
    <script src="node_modules/angular-resource/angular-resource.min.js"></script>
    <script src="js/index.js"></script>
    <script src="js/directive/myErrors.js"></script>
    <script src="js/directive/myForm.js"></script>
    <script src="js/directive/myInput.js"></script>
    <script src="js/provider/uiMask.ConfigProvider.js"></script>
    <script src="js/controller/formController.js"></script>
    <script src="js/utils/fetch.js"></script>
    <script src="js/utils/l10n.js"></script>
</body>
</html>